body {
    font-family: "Montserrat", Times, 'Times New Roman', serif, Arial, Helvetica, sans-serif;
    margin: 0px; 
    font-size: 1.5vw;
}


li {
    margin-bottom: 10px;
}

div {
    padding: 0px;
}

#logo {
    font-family: "Montserrat", 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px;
    padding: 8px;
    width: 40%;
    
}

h1 {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    list-style-type: disc;
}

body > header {
    background-color: rgb(134, 171, 137);
    color: white;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li{ 
    padding: 5px;
    margin: 16px;
}
body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}
.navbutton  { 
    color: white;
    text-decoration: none;
}

body > main article {
    width: 80%;
    margin: auto;
}

#about-heading {
    background-color: rgb(203, 226, 181);
}

#content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#ingredient-heading {
    background-color: rgb(203, 226, 181);
}

#ingredient-list {
    flex: 1;
    max-width: 60%;
}

#ingredient-image img{
    transform: rotate(90deg);
    padding: 20px;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 90%;
}

#instructions-heading {
    background-color: rgb(203, 226, 181);
}
#recipe-notes {
    background-color: rgb(162, 139, 85);
    color: black;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer { 
    background-color: rgb(134, 171, 137);
    display: flex;
}

img { 
    border-radius: 0%;
}

#header-2 {
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 10px;
}
#footer-ul  {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 30px; 
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}

#follow-us {
    color: white;
    text-decoration: none;
}